---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}

    <!--Main Section-->
    <section class="hero is-fullheight" id="project">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="section slick">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Bhu's LoGiCs</p>
                </div>
                {% include project-card.html %}
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">GG Madafada</p>
                </div>
                {% include project-card.html %}
                <div class="section">
                    <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Nannari Sarbath</p>
                </div>
                {% include project-card.html %}
        </div>
    </section>
    </div>

    <!--Footer-->
    {% include footer.html %}
</body>

</html>